<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="LogEm.Properties.Settings.E__PROJECTS_LOGEM_SAMPLEDBS_LOGGING_MDFConnectionString"
            connectionString="Data Source=ASPIRE\SQLEXPRESS;Initial Catalog=E:\PROJECTS\LOGEM\SAMPLEDBS\LOGGING.MDF;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>